<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<div class="body">
    <div class="pg">
        <div class="page-header">
            <div class="logo">
                <a href="/"><h1 style="margin-left: 10px;">Feast</h1></a>
            </div>
        </div>
    </div>
<p>

<div class="group_header">
  <h1>Group Name: <%= @group.group_name %></h1>
</div>