<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">


<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>
      <div class="hero">
        <hgroup>
            <h1>FeastFindr</h1>        
            <h3>A simple way to decide where to eat with your friends</h3>
        </hgroup>
        <a href="groups/new"><button class="btn btn-hero btn-lg" role="button" data-toggle="modal" data-target="#exampleModal">Let's Eat!</button></a>
      </div>
  </div>

 <footer>
  <ul class="welcome_copyright">
     &copy; Copyright 2017 Nag Alluri
     | Powered by <a title="Zomato" href="http://www.zomato.com/">Zomato</a>  
  </ul>
 </footer> 