// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.dropdown {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.checkbox {
    margin-left: auto;
    margin-right: auto;
    width: 20px;
}
.checkboxLabel {
    width: 1277px;
    text-align: center;
    margin-top: 15px;
}
.submitButton {
    margin: 0 auto;
    margin-top: 1%;
    text-align: center;
    display: inherit;
    width: 25%;
    margin-bottom: 100px;
    background-color: #7cb658;
    border-radius: 15px;
    color: white;
}
.pg {
    font-size: 6em;
    font-family: 'Pacifico', cursive;    
    font-weight: bold;
    background-color: rgba(74, 154, 24, 0.72);
    padding-top: 1px;
    margin-top: -25px;
    color: white;
}

img {
    width: 300px;
    height: 50%;
}

.thumbnail {
    width: 310px;
    height: 300px;
}

.col-md-4 {
    width: 25%;
    display: inline-block
}

.row-fluid {
    margin-right: 0%;
    margin-left: 6%;
    float: left;
    padding: 0;
    text-align: center;
}

.caption {
    text-align: center;
    margin-top: -5%
}

.group_header{
    text-align: center;
    margin-bottom: 4%;
}

img:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 300px;
  height: 220px;
  background-color: white;
  background-image:url("https://b.zmtcdn.com/images/placeholder_200.png?output-format=webp");
}

.checkbox_list {
    margin-top: -25px;
}

.username_field {
    margin-bottom: 3%;
}



a { color: inherit !important; } 


