// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_match {
	text-align: center;
	margin-left: 38%;
}

.group_users {
    text-align: center;
}

.thumbnail {
	margin-left: -10%;
}